VITE_PUBLIC_SITE_URL=
VITE_FORM_CONFIG_API_URL=https://script.google.com/macros/s/DEPLOYMENT_ID/exec
FORM_CONFIG_PUBLISH_KEY=SECRET_YANG_SAMA_DENGAN_SCRIPT_PROPERTIES
FORM_CONFIG_PUBLISHED_BY=configurator@intranet
